body {
    margin:0;
    text-align: center;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

.input-container{
    background: #6943FF;
    color: #ffffff;
    font-weight:800;
    display:flex;
    flex-direction: column;
    align-items:center;
}

.title{
    font-size:1.75rem;
}

input{
    width:120px;
    height:85px;
    border:2px solid #b295ff;
    border-radius:5px;
    text-align:center;
    font-family: 'Inter', sans-serif;
    font-size:3.625rem;
    font-weight:800;
    color:#ffffff;
    background:#6943FF;
    margin:1em;
}

button{
    padding: 1em 2em;
    font-size:1rem;
    font-weight:500;
    border-radius:5px;
    margin-bottom:2em;
}

.output-container{
    background:#1F2937;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:2em;
}

.cards{
    background:#273549;
    width:100%;
    max-width: 500px;
    border-radius:4px 0px 0px 0px;
    margin:1em;
    padding: 1em;
}

h3{
    color:#CCC1FF;
    font-size:1.25rem;
    font-weight:600;
}

p{
    color:#ffffff;
    font-size:0.875rem;
}

footer{
    background: #6943FF;
    color: whitesmoke;
    font-size: 1rem;
    padding: 2em;
}

footer p{
    margin-top: 0;
}

footer a{
    color: whitesmoke;
}